<footer class="page-footer font-small bg-info pt-4" >

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
           
            <li>
                <a href="https://www.instagram.com/johallvs/" target="_blanck" class="icoInstagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/joaslen-ribeiro-96b134215/" target="_blanck" class="icoLinkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>

    </div>
</div>

    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">&#169; 2021 copyright: </span>



    </div>
</footer>
